# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# --------------------------------------------------------------------------
# folders
# --------------------------------------------------------------------------

# --------------------------------------------------------------------------
# files
# --------------------------------------------------------------------------

# vs-code-related
*.code-workspace
.vscode
.vscode/
.vscode/*
.vscode/ltx.dictionary.en-US.txt